@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* General styles */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------------------ */

:root {
    --primary-color: #3C50E0;
    --secondary-color: #FFFFFF;
    --tertiary-color: #0F1A38;
    --quaternary-color: #0A033C;
    --quinary-color: #F1F0FF;
    --extend-primary-color: #FDB400;
    --extend-secondary-color: #FF5670;
    --extend-tertiary-color: #3A4DD9;
    --extend-quaternary-color: #9747FF;
    --extend-quinary-color: #1D84B5;
    --text-color: #FFFFFF;
    --text-color-secondary: #0A033C;
    --hover-color: #00189A;
    --linear-color-primary: #0a033c2e;
    --linear-color-secondary: #ffffff43;
    --card-hover-color: #0a033c22;
}

::-webkit-scrollbar {
    display: none;
}

